<div class="container mb-4 mt-28">
  <div class="Footer sm:grid grid-cols-2 sm:gap-9">
    <div class="Footer Footer__section">
      <h4 class="w-3/5">Subscribe to stay updated on our latest news</h4>
      <div>
        <span class="relative"><input type="email" class="form-control form-control-half-full form-control-style" placeholder="email address"></span>
        <%= button_tag :submit, class: "Banner-heading-button float-right top-[-29px] right-[11px]"  do %>
          <i class="fa-solid fa-angle-right"></i>
        <% end %>
      </div>
      <div class="Footer Footer__section-social flex space-x-4 my-5">
        <span class="text-xl"><i class="fa-brands fa-facebook-f"></i></span>
        <span class="text-xl"><i class="fa-brands fa-instagram"></i></span>
        <span class="text-xl"><i class="fa-brands fa-linkedin"></i></span>
      </div>
    </div>
    <div class="flex justify-between sm:justify-around">
      <div class="Footer Footer__section">
        <div class="flex flex-col space-y-4">
          <h6 class="text-[#3449B8] font-semibold">CREATE</h6>
          <h5 class="text-lg font-semibold">Our Mission</h5>
          <h5 class="text-lg font-semibold">Meet Our Teams</h5>
          <h5 class="text-lg font-semibold">Careers</h5>
        </div>
      </div>
      <div class="Footer Footer__section">
        <div class="flex flex-col space-y-4">
          <h6 class="text-[#3449B8] font-semibold">SUPPORT</h6>
          <h5 class="text-lg font-semibold">Refund Policy</h5>
          <h5 class="text-lg font-semibold">Creator Contract</h5>
          <h5 class="text-lg font-semibold">Hire Creative</h5>
          <h5 class="text-lg font-semibold">Need help</h5>
        </div>
      </div>
    </div>
  </div>
</div>
