<nav class="Navigation px-20">
    <div class="Navigation__inner flex">
      <ul class="flex justify-between items-center font-semibold text-h4 flex-1">
        <li class="">
          <a href="" class="b-nav__nav-item p-2 b-nav__nav-item--gradient ">Sunglasses</a>
        </li>
        <li>
          <a href="" class="b-nav__nav-item p-2 b-nav__nav-item--gradient ">Goggles</a>
        </li>
        <li>
          <a href="" class="b-nav__nav-item p-2 b-nav__nav-item--gradient ">Collaborations</a>
        </li>
        <li>
          <a href="" class="b-nav__nav-item p-2 b-nav__nav-item--gradient">Sports</a>
        </li>
        <li>
          <a href="" class="b-nav__nav-item p-2 b-nav__nav-item--gradient">Mission</a>
        </li>
        <li>
          <a href="" class="b-nav__nav-item p-2  b-nav__nav-item--gradient">Explore</a>
        </li>
        <li>
          <div class="w-max">
            <span class="b-nav__nav-item p-2  b-nav__nav-item--gradient b-nav__item--cart"><i class="fa-solid fa-basket-shopping"></i><span class="b-nav__item--cart-child">0</span></span>
          </div>
        </li>
      </ul>
    </div>
  </nav>
