<div data-controller="navbar">
<nav class="Navigation bg-white px-3 py-2">
  <div class="Navigation__inner Navigation__inner-displayfirst sm:flex justify-between items-center">
    <div class="Navigation__inner Navigation__inner-displaysecond flex justify-between items-center sm:block">
      <h3 class="Navigation__inner Navigation__inner-logo">Createlogo</h3>
      <div class="Navigation__inner Navigation__inner-menu sm:hidden" data-action="click->navbar#displayList">
        <i class="fa-solid fa-bars cursor-pointer"></i>
      </div>
    </div>
    <div>
      <ul class="Navigation__inner Navigation__inner-items hidden pl-0 sm:block" data-navbar-target="listItem">
        <li class="Navigation__inner Navigation__inner-items Navigation__inner-items-list py-2 sm:inline-block ">
          <a class="no-underline text-black font-semibold" href="#">Hire a Creative</a>
        </li>
        <li class="Navigation__inner Navigation__inner-items Navigation__inner-items-list py-2 sm:inline-block sm:ml-5">
          <a class="no-underline text-black font-semibold" href="#">Submit your work</a>
        </li>
        <li class="Navigation__inner Navigation__inner-items Navigation__inner-items-list py-2 sm:inline-block sm:ml-5">
          <a class="no-underline text-black font-semibold"  href="#">Login</a>
        </li>
        <li class="Navigation__inner Navigation__inner-items Navigation__inner-items-list py-2 sm:inline-block sm:ml-5 no-underline">
          <a class="no-underline text-black font-semibold" href="#">SignUp</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
