<h1>Welcome to Create</h1>
<h3>Reward for your creativity and passion</h3>

<div class="container gallery">
  <% @arts.each do |art| %>
    <%= image_tag art.image_url, class: "homepage-image img-fluid gallery__img" %>
  <% end %>
</div>
