.modal-button{
  color: rgba(0, 0, 0, 0.55);
  background-color: white;
  border-color: white;
  border: 1px solid rgba(0, 0, 0, 0.55);
  border-radius: 4px;
}

.modal-button:hover {
  color: black;
  background-color: white;
  border-color: white;
  border: 1px solid rgba(0, 0, 0, 0.55);
  border-radius: 4px;
}

.PrimaryButton{
  transition: all .3s ease-in-out;
  color: #FFFFFF;
  background-size: 150% 100%;
  background-position: 50% 0;
  background-image: linear-gradient(70deg,#5C0F99,#3449B8 60%,#1799E1);
}

.PrimaryButton:hover{
  background-image: linear-gradient(to right, #5C0F99, #5C0F99, #5C0F99, #5C0F99);
}

.deviseButton{
  border-radius: 0.5rem;
  padding: 0.75rem 0.75rem;
}

.deviseButton:hover{
  color: white;
}
