@keyframes mymove {
  from {left: 0px;}
  to {left: -3px;}
}

.icon-animate{
  padding-left: 16px;
}

.icon-animate:hover{
  i {
    position: relative;
    animation: mymove 1s ;
    animation-timing-function: ease;
    animation-fill-mode:both;
  }
}
