

.modal-dialog {
  max-width: 100%;
  margin: 1.75rem auto;
}

#modalcustome{
  border-radius: 12px;
}


.modal-custome-body{
  margin-bottom: 16px;
}

.modal-title {
  gap: 1rem;
  align-items: center;

  .avatar {
    width: 40px;
    height: max-content;
  }

  p {
    margin-bottom: 0px;
    font-size: smaller;
  }

  a {
    text-decoration: none;
    font-size: smaller;
    color: #35607A;
  }
}

.purchase-field {
  button {
    background-color: #35607A;
    border-color: #35607A;
    color: white;
    border-radius: 6px;
  }

  h5{
    font-weight: bold;
  }
}

.modal-image-cards{
  h5 {
    padding-left: 12px;
    font-weight: bold;
    font-size: small;
  }
}

@media (min-width: 640px) {
  .Modal__responsive {
    text-align: center;
  }

  .Modal__responsive img {
    margin-left: auto;
    margin-right: auto;
  }

  #modalcustome{
    width: 1200px;
    border-radius: 12px;
  }

  .modal-content {
    border-radius: 12px;
    width: 1000px;
  }
}
