

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.gallery__img{
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 8px;

}

.container-fluid{
  padding-right: var(--bs-gutter-x, 3.75rem);
  padding-left: var(--bs-gutter-x, 3.75rem);
}
